NEXT_PUBLIC_SUPABASE_URL=https://jztbsaptdwavooysnuwk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp6dGJzYXB0ZHdhdm9veXNudXdrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjMwMTgwMDIsImV4cCI6MjA3ODU5NDAwMn0.DpOsiDWn4jdDeuUDVxgXzerSbUdrkxj8gWPYY5mZuvU
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp6dGJzYXB0ZHdhdm9veXNudXdrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzAxODAwMiwiZXhwIjoyMDc4NTk0MDAyfQ.BAQr0Kj66sKo-MXIvCSARvVAso1RlGMmJx_HEcT0PtE
DATABASE_URL="postgresql://postgres.jztbsaptdwavooysnuwk:123456@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.jztbsaptdwavooysnuwk:123456@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres"